---
layout: layouts/base.html
eleventyExcludeFromCollections: true
---

{% set slidesCount = collections.all | length %}

<h1>{{ slidesCount }} talks{% if slidesCount != 1 %}s{% endif %}</h1>

<ol reversed class="slidelist">
  {% for slide in collections.all | reverse %}
  <li class="slidelist-item">
    <a href="{{ slide.url }}" class="slidelist-link"
      >{% if slide.data.title %}{{ slide.data.title }}{% else %}<code
        >{{ slide.url }}</code
      >{% endif %}</a
    >
    {% if slide.data.tags %}
    <div class="slidelist-tag">{{ slide.data.tags }}</div>
    {% endif %} {% if slide.data.description %}
    <p class="slidelist-description">{{ slide.data.description }}</p>
    {% endif %}
  </li>
  {% endfor %}
</ol>
